#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 400px;
}

.swiper-slide img {
  display: block;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.swiperContainer {
  height: 400px;
}

.mySwiper {
  height: 500px;
  width: 80%;
  padding-bottom: 120px;
  margin-bottom: 100px;

  display: flex;
  align-items: center;
}

.swiperHeader{
  background: #404040;
  text-align: center;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 30px;

  font-size: 20px;
  padding: 15px;
  color: #ffffff;
}