:root { user-select: none; --columns: 5; --cell-size: 30px; --color: #81c3fd; /* for hover */ --color-set: red; /* when set */ --l: 10px; /* X line-width */} body { margin: 0; } .board { width: 100vw; height: 100vh; display: grid; justify-content: center; align-content: center; justify-items: center; align-items: center; grid-template-columns: repeat(var(--columns), auto); border-right: 30px solid black; } .cell, .clickedCell, .bombCell, .flaggedCell{ width: var(--cell-size); height: var(--cell-size); border: 1px solid black; display: flex; justify-content: center; align-items: center; position: relative; cursor: pointer; font-weight: 900; font-family: sans-serif; font-size: 23px; /* change value of "color" depending on number in square */} .clickedCell { border-bottom: 8px solid #eaeaea; border-right: 8px solid #eaeaea; border-top: 8px solid #f5f5f5; border-left: 8px solid #f5f5f5; background: #eeeeee; } .cell { border-bottom: 8px solid #b5b5b5; border-right: 8px solid #b5b5b5; border-top: 8px solid #efefef; border-left: 8px solid #efefef; background: #cccccc; } .cell:hover { background: #e0e0e0; border-bottom: 8px solid #bcbcbc; border-right: 8px solid #bcbcbc; border-top: 8px solid #eaeaea; border-left: 8px solid #eaeaea; } /* for cross (set) */.bombCell { background: #ee5555; border-bottom: 8px solid #dd5555; border-right: 8px solid #dd5555; border-top: 8px solid #ff6565; border-left: 8px solid #ff6565; } .flaggedCell { border-bottom: 8px solid #b5b5c5; border-right: 8px solid #b5b5c5; border-top: 8px solid #efefff; border-left: 8px solid #efefff; background: #ccccdc; font-weight: 900; } .cell.x, .cell.circle { cursor: not-allowed; } 

.winning-message { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: var(--color-set); 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 5rem; 
    /* font-family: 'Courier New', Courier, monospace; */ 
    font-family: sans-serif;
    flex-direction: column; 
    
    width: 60%;
    height: 280px;
    margin-top: 60px;
    border-radius: 20px;
    font-weight: 500;
    background: #555555;
    
    border-top: 15px solid #777777;
    border-bottom: 15px solid #666666;
    margin-left: 20%;
    
    text-shadow: 2px 5px #558ABB;
    
    /* border-left: 10px solid #eeeeee;
    border-right: 10px solid #eeeeee; */
} 

.winning-message button { 
    border-radius: 20px; 
    font-size: 2rem; 
    background-color: white; 
    border:  1px solid #ffffff; 
    padding: .25em .5em; 
    cursor: pointer; 
    margin-top: 20px;
    font-family: sans-serif;
    box-shadow: 1px 2px #222222;
}

.winning-message button:hover { 
    background-color: #ffffff; 
    color: #ff4545; 
    box-shadow: 2px 5px #222222;
    transition: 0.3s ease;
} 

#winningMessageTimeText{
    color: #eeeeee;
    text-shadow: none;
    font-size: 20px;
    margin-bottom: 20px;
}

.winning-message.show { display: flex; }